.wrapper{
    background-color: #F9FAF5;
    padding-bottom: 2rem;
    .title{
        padding: 2rem 4rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .input{
        padding: 2.5rem;

        input{
            padding: 1rem 1.5rem;
            border: 0px;
            border-radius:6px;
            outline: none;
            color: var(--text-color);
            background-color: var(--secondary);
        }
    }
    .section{
        display: flex;
        justify-content: center;
        padding: 2rem 4rem;
        .content{
            width: 50%;
            padding: 2rem;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 40px 0px;
            // border: 1px solid #ccc;

            h4{
                text-align: center;
                font-size: 2rem;
            }

            .content_role{
                display: flex;
                align-items: center;
                margin-top: 0.5rem;
                color: rgb(44, 146, 186);
                
                p{
                    margin-left: 1rem;  

                }
            }

            .content_time{
                display: flex;
                align-items: center;
                margin-top: 0.5rem;
                color: rgb(44, 186, 63);
               
                p{
                    margin-left: 1rem;
                }
            }

            .content_info{
                display: flex;
                align-items: center;
                margin-top: 0.5rem;
                border-top: 1px solid #ccc;
                padding: 1rem 0;

                h6{
                    margin-right: 2rem;
                    font-size:1.5rem;
                    font-weight:bold;
                }

                p, a{
                    // width: 60%;
                    font-size:1.3rem;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }

        .iconCheck{
            padding: 1.5rem;
            border-radius: 50%;
            color: #fff;
            background-color: var(--completed);
        }
    }
}