.wrapper{
    padding: 1rem;
    width: fit-content;
    border-radius: 40px;
    color: #fff;
    font-size: 1.2rem;
}

.completed{
    background-color: var(--completed);
}
.pending{
    background-color: var(--pending);
}
.notAvailable{
    background-color: var(--not-available);
}