.wrapper{
    background-color: #F9FAF5;
    padding-right: 10rem;
    position: relative;

    .title{
        padding: 1rem 2.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .button_Add{
            padding: 1.2rem 4rem;
            border-radius: 4px;
        
            background-color: #D3F36B;
            font-size:16px;
            font-weight: 600;
            cursor: pointer;
            &:hover{
                background-color:var(--violet);
                color: #fff;
                transition: all 0.3s ease-in-out;
            }
        }
    }

    .cardContainer{
        padding: 1.5rem 2.5rem;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 3rem;
        .cardItem{
            flex:1;
            padding: 3rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: row-reverse;
            background-color: white;
            border-radius: 15px;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 40px 0px;

            .cardIcon{
                font-size: 4rem;
                margin-bottom: 1rem;
                color: var(--button-green);
            }
            p{
                font-size: 4rem;
                font-weight: bold;
                color: var(--violet);
            }
            h6{
                font-size: 1.75rem;
                font-weight: 500;
            }
        }
    }

    .overview{
        padding: 2.5rem;
        h2{
            font-size:2rem;
        }
        //Css for table
        table{
            width: 100%;
            padding: 1rem;
            margin-top: 1rem;
            border:0px;
            border-radius: 15px;
            background-color: #fff;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 40px 0px;
            // background-color:#ccc;
            text-align: left;
            tr{
                border-bottom: 1px solid #000;
                width: fit-content;
            }
            th, td{
                padding: 1rem 2rem;
                width: fit-content;
            }
        }
    }
}

