.wrapper{
    background-color: #F9FAF5;
    padding-right: 10rem;
    // position: relative;

    .title{
        padding: 2.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .content{
        padding: 2.5rem;
        width: 100%;

        .table{
            width: 100%;
            padding: 2rem;

            .userItemHeader{
                display: flex;
                justify-content: space-between;
                padding: 1rem;
                background-color:var(--secondary);
            }
            .userItem{
                display: flex;
                justify-content: space-between;
                padding: 1rem;
            }
        }
    }
}