/* 

// .wrapper{
//     width: 280px;
//     min-height: 100vh;
//     background-color: var(--secondary);
//     color: var(--text-white);
//     border-right: 2px solid #F4F5F0;
//     transition: 1s ease;
//     // position: fixed;
//     .logoContainer{
//         padding: 1rem 2rem;
//         background-color: var(--secondary);
//         img{
//             width: 100%;
//         }
//     }

//     .sidebar{
//         padding: 2rem;
//         display: flex;
//         flex-direction: column;
//         align-items: center;
        
//         .IconSidebar{
//             padding: 1.5rem;
//             background-color: #7f5edc;
//             border-radius: 8px;
//             cursor: pointer;
//         }
//         .menuList{
//             margin-top: 4rem;
//             width: 100%;

//             .menuItem{
//                 display: flex;
//                 align-items: center;
//                 cursor: pointer;

//                 ~.menuItem{
//                     margin-top: 2rem;
//                 }
//                 .menuIcon{
//                     padding: 1rem;
//                     border-radius: 8px;

//                     background-color: var(--blue);
//                     color: var(--primary);

//                 }

//                 .menuIcon.active{
//                     padding: 1rem;
//                     border-radius: 8px;

//                     background-color: var(--text-color);
//                     color: var(--primary);

//                 }

//                 p{
//                     margin-left: 1.5rem;
//                     font-size: 18px;
//                     color: var(--text-white);
//                 }

//                 &.active {
//                     background-color: #e8ffa2;
//                     padding: 1rem;
//                     border-radius: 14px;
//                     font-weight: 500;
//                 } 
//             }
//         }
//     }
//     .logout{
//         display: flex;
//         align-items: center;
//         position: absolute;
//         top: 90%;
//         left: 4%;
//         cursor: pointer;
//         p{
//             margin-left: 0.25rem;
//             color: var(--text-white);
//         }

//         .menuIcon{
//             padding: 1rem;
//             border-radius: 8px;
//             font-size: 2.5rem;
//             color: var(--text-white);
//         }

//     }
// }

// .wrapperSmall{
//     width: 72px;
//     transition: 1s ease;
// } */

.wrapper {
    width: 280px;
    min-height: 100vh;
    background-color: var(--green);
    color: var(--text-color);
    border-right: 2px solid #f4f5f0;
    transition: 1s ease;
}
.wrapper .logoContainer {
    padding: 1rem 2rem;
}
.wrapper .logoContainer img {
    width: 100%;
}
.wrapper .sidebar {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wrapper .sidebar .IconSidebar {
    padding: 1.5rem;
    background-color: #7f5edc;
    border-radius: 8px;
    cursor: pointer;
}
.wrapper .sidebar .menuList {
    margin-top: 4rem;
    width: 100%;
}
.wrapper .sidebar .menuList .menuItem {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.wrapper .sidebar .menuList .menuItem ~ .menuItem {
    margin-top: 2rem;
}
.wrapper .sidebar .menuList .menuItem .menuIcon {
    padding: 1rem;
    border-radius: 8px;
    background-color: var(--sidebar-active);
    color: var(--primary);
}
.wrapper .sidebar .menuList .menuItem .menuIcon.active {
    padding: 1rem;
    border-radius: 8px;
    background-color: var(--text-color);
    color: var(--primary);
}
.wrapper .sidebar .menuList .menuItem p {
    font-weight: 500;
    margin-left: 1.5rem;
    font-size: 18px;
    color: var(--text-white);
}
.wrapper .sidebar .menuList .menuItem.active {
    background-color: var(--secondary);
    color: var(--text-color);
    padding: 1rem;
    border-radius: 14px;
    font-weight: 500;
}
.wrapper .sidebar .menuList .menuItem.active p {
    color: var(--text-color);
}
.wrapper .logout {
    display: flex;
    align-items: center;
    position: absolute;
    top: 90%;
    left: 4%;
    cursor: pointer;
}
.wrapper .logout p {
    margin-left: 0.25rem;
    color: var(--text-white);
}
.wrapper .logout .menuIcon {
    padding: 1rem;
    border-radius: 8px;
    font-size: 2.5rem;
    color: var(--text-white);
}
.wrapperSmall {
    width: 72px;
    transition: 1s ease;
}
